# SPDX-License-Identifier: AGPL-3.0-or-later
# sshd configuration for the golden workspace image.
# Certificate-only auth: the image trusts the control-plane SSH CA public key
# injected at runtime as /etc/ssh/workspace-ca.pub. The workspace ID maps to an
# OpenSSH certificate principal in /etc/ssh/principals/workspace.

Port 22
AddressFamily any
ListenAddress 0.0.0.0

HostKey /etc/ssh/ssh_host_ed25519_key

PermitRootLogin no
PasswordAuthentication no
ChallengeResponseAuthentication no
PubkeyAuthentication yes

TrustedUserCAKeys /etc/ssh/workspace-ca.pub
AuthorizedPrincipalsFile /etc/ssh/principals/%u

AllowUsers workspace
X11Forwarding no
AllowAgentForwarding no
PrintMotd no
PrintLastLog no
