# SPDX-License-Identifier: AGPL-3.0-or-later
# sshd configuration for the workspace SSH node (e2e harness; mirrors the golden
# image). Registered-key auth: AuthorizedKeysCommand asks the control plane whether
# the presented key is registered to this workspace's owner (agent token, read from
# the root-only /run/edd-ssh-env). Login user `workspace`. No certificates.

Port 22
AddressFamily any
ListenAddress 0.0.0.0

HostKey /etc/ssh/ssh_host_ed25519_key

PasswordAuthentication no
ChallengeResponseAuthentication no
PubkeyAuthentication yes

AuthorizedKeysCommand /usr/local/bin/edd-authorized-keys %t %k
AuthorizedKeysCommandUser root

AllowUsers workspace

# Disable features not needed in the workspace model.
X11Forwarding no
AllowAgentForwarding no
PrintMotd no
PrintLastLog no
